.main{
    background-image: url(/public/images/Authorization.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    position: relative;
    height: 1080px;
}
.containerEntrance{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    width: 460px;
    height: 340px;
    text-align: center;
}

.entranceBlockConversion {
    color: #D58C51;
    margin: 10px 20px;
    font-size: 11px;
    font-weight: 300;
    text-align: end;
    transition: 200ms;
}
.formAuth:active{
    color: #D58C51;
}
.formAuth:hover {
    text-decoration: underline;
}
.entranceBlockInfo{
    padding: 0 20px;
    color: #161516;
    position: relative;
}
.infoTitle{
    font-size: 31px;
    font-weight: 700;
    padding-bottom: 30px;
}
.infoInputWindow{
    border-radius: 61px;
    border: 1px solid #D58C51;
    width: 390px;
    padding: 10px 0 10px 20px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}
.Error {
    text-align: start;
    font-size: 8px;
    font-weight: 300;
}

.infoInputError {
    color: #FF0B0B; /**#FF0B0B; станет после изменения**/
    position: absolute;
    top: 107px;
    left: 40px;
}
.infoInputError2 {
    color: #FF0B0B; /**#FF0B0B; станет после изменения**/
    position: absolute;
    top: 170px;
    left: 40px;
}

.entranceError3 {
    color: #FFFFFF; /**#FF0B0B; станет после изменения**/
    text-align: center;
    padding: 12px;
}
.infoCheckbox {
    display: flex;
    text-align: start;
    align-items: center;
}

/**сам текст label **/
.checkLabel {
    display: inline-block;
    padding:0 33px;
    text-align: start;
    font-size: 11px;
    font-weight: 300;
    line-height: 13px;
    cursor: pointer;
    position: relative;
}

/**создаем новый уникальный "checkbox"**/
.checkElem {
    position: absolute;
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #D58C51;
    border-radius: 50%;
    cursor: pointer;
    left: 5px;
    top: -3px;
}
/**скрываем сам "checkbox"**/
.checkLabel input[type="checkbox"] {
    position: absolute;
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-user-select: none;
    user-select: none;
    appearance: none;
}

/**создаем галочку при состоянии ":checked" условие: если  для label:checked ,то новый "checkbox" с :after должен стать **/
.checkLabel input:checked + .checkElem:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 13.5px;
    height: 13.5px;
    border-radius: 50%;
    background-color: #D58C51;
    cursor: pointer;
}

.entranceBlockButton {
    background-color: #D58C51;
    font-size: 14px;
    font-weight: 400;
    padding: 12px 77px;
    transition: 200ms;

}
.entranceBlockButton:hover {
    background-color: #e66a6a;
}