.main {
    background-color: #161516;
    color: #FFFFFF;
}

.mainContainer {
    width: 1440px;
    margin: 0 auto;
}
.container{
    width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainContainerHeader{
    padding: 50px 0 40px 0;
    margin: 0 auto;
    width: 900px;
    display: flex;
    align-items: center;
}
.headerButton {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #161516;
    margin: 0 65px 0 20px;
    transition: 200ms;
}
.headerButton:hover {
    background-color: #d55151;
}
.headerTitle{
    font-size: 31px;
    font-weight: 700;
}
.headerTitleButton{
    border: 1px solid #D58C51;
    color: #D58C51;
    font-size: 14px;
    font-weight: 400;
    padding: 12px 77px;
    background-color: #161516;
    transition: 200ms;
}
.headerTitleButton:hover {
    background-color: #d55151;
}
.mainBlock {
    border-top: 1px solid #D58C51;
}
.mainBlockBasket {
    width: 980px;
    margin: 20px auto 0;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.basketTitle{
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
}
.mainContainerChoice {
    height: calc(85vh - 43px);
    overflow: auto;
}
.basketSum{
    font-size: 18px;
    font-weight: 400;
    color: #D58C51;
}
.basketBotton {
    padding: 12px 42px;
    background-color: #D58C51;
    font-size: 14px;
    transition: 200ms;
}
.basketBotton:hover {
    background-color: #d55151;
}